.Order{
    border: 1px solid #eee;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 3px 3px #eee;
    border-radius: 6px;
    cursor: pointer;
    width: calc(25% - 10px);
    transition: all 0.03s ease-in-out;
    background-color: #fff;
}

.Order:nth-child(2n+n){
    margin-right: 0;
}

.Ingredients{
    margin: 10px 0;
}

hr{
    height: 1px;
    background-color: #d2d2d2;
    border: none;
}

.Ingredients small{
    padding: 0 10px;
    margin: 5px 0;
    margin-right: 5px;
    border: 1px solid rgb(97, 95, 95);
    border-radius: 20px;
    color: #fff;
    text-transform: capitalize;
}

.Order_control{
    text-align: right;
}

@media (max-width: 500px) {
    .Order {
        width: calc(100% - 10px);
        margin: auto;
        margin-bottom: 14px;
    }
}