.BuildControls{
    background: linear-gradient(to right, #ec8484, #936fbf);
    padding: 2rem;
    text-align: center;
}

.BuildControls .Purchase{
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px; 
    background-color: rgb(20, 124, 38);
    color: #fff;
    font-weight: 600;
    box-shadow: 2px 2px 3px rgb(61, 61, 61);
    cursor: pointer;
}

.BuildControls .Purchase:hover{
    box-shadow: 2px 2px 5px rgb(61, 61, 61);
}

.BuildControls .Purchase:active{
    transform: translateY(2px);
    box-shadow: 1px 1px 2px rgb(61, 61, 61);
}

.BuildControls .Purchase:disabled{
    background-color: #5c5b5e;
    cursor: no-drop;
    box-shadow: none;
}