.Modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110vh);
    opacity: 0;
    width: 70%;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgb(87, 86, 86);
    padding: 20px;
    border-radius: 4px;
    z-index: 500;
    transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.Modal.Show{
    transform: translate(-50%, -50%);
    opacity: 1;
}