.Btn{
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 2px 2px #eee;
    cursor: pointer;
    margin: 10px 0;
    margin-right: 10px;
    transition: all 0.08s ease;
    color: #fff;
    font-weight: bold;
}

.Btn.Small{
    padding: 5px;
}

.Btn.Success{
    background-color: rgb(100, 141, 29);
}

.Btn.Success:hover{
    background-color: rgb(66, 94, 19);
}



.Btn.Error{
    background-color: rgb(235, 79, 79);
}

.Btn.Error:hover{
    background-color: rgb(134, 40, 40);
}